<div class="self-main-page-info-message-container">
    <p>
        Mając na celu poprawność działania aplikacji
        zaleca się NIE korzysztać <br />z przeglądarki Internet Explorer.
    </p>
</div>

@code {

}