<div class="self-main-page-info-message-container">
    <p>
        Mając na celu poprawność działania aplikacji
        zaleca się <b class="self-alert-color">NIE</b> korzysztać <br />z przeglądarki <br /> <b class="self-alert-color">Internet Explorer</b>.
    </p>
</div>

@code {

}