@typeparam TItem

<div class="table-wrapper-scroll-y my-custom-scrollbar">
    <table class="table table-bordered table-striped mb-0">
        <thead class="bg-light  text-sm-center">
            <tr style="background-color:cadetblue">
                @TableHeader
            </tr>
        </thead>
        <tbody class=" text-sm-center">
            @foreach (var item in ReportItems)
            {
                @RowTemplate(item);
            }
        </tbody>
    </table>
</div>

@code {
    [Parameter] public RenderFragment TableHeader { get; set; }
    [Parameter] public RenderFragment<TItem> RowTemplate { get; set; }
    [Parameter] public IReadOnlyList<TItem> ReportItems { get; set; }
}
