@page "/report"
@inject HttpClient http

@if (qdr == null)
{
    <LoadingData DisplayMessage="false"></LoadingData>
}
else if (qdr.Length == 0)
{
    <text> Brak danych do wyświetlenia </text>
}
else
{
    <h3>Raport jakościowy banknotów</h3>
    <br />
    <TableTemplate Qualities="qdr.ToList()" />

    <br />

    <nav class="nav nav-pills flex-column flex-sm-row">
        <a class="flex-sm-fill text-sm-center nav-link active" href="/piaskownica">Wróć do poprzedniej storny</a>
    </nav>
}

@code {

    QualityDetailReportDTO[] qdr { get; set; }

    protected override async Task OnInitializedAsync()
    {
        await LoadData();
    }

    async Task LoadData()
    {
        qdr = await http.GetJsonAsync<QualityDetailReportDTO[]>("api/QualityDetail/Get/3/2/2020-01-01/2020-04-01");

    }
}
