@page "/qualitypageandmachines"
@inject HttpClient http
@if (qdrm == null)
{
    <LoadingData DisplayMessage="false"></LoadingData>
}
else if (qdrm.Length == 0)
{
    <text> Brak danych do wyświetlenia </text>
}
else
{
    <h3>Raport jakościowy banknotów z uwzględnieniem urządzeń liczących</h3>
    <br />
    <TableTemplateRQM QualitiesM="qdrm.ToList()" />


    <br />

    <nav class="nav nav-pills flex-column flex-sm-row">
        <a class="flex-sm-fill text-sm-center nav-link active" href="/reportstochoose">Wróć do poprzedniej storny</a>
    </nav>
}

@code {

    QualityDetailReportAndMachineDTO[] qdrm { get; set; }

    protected override async Task OnInitializedAsync()
    {
        await LoadData();
    }

    async Task LoadData()
    {
        qdrm = await http.GetJsonAsync<QualityDetailReportAndMachineDTO[]>("api/QualityDetailAndMachine/Get/3/2/2020-01-01/2020-04-01");

    }
}
