@page "/reportstochoose"
<br />
<br />
<br />
    <div class="list-group text-center" style="width:auto; height:auto">
        <a href="/qualitypage" class="btn btn-primary btn-lg active font-weight-bold" role="button" aria-pressed="true" >
            Raport jakościowy
        </a>
        <br />
        <a href="/qualitypageandmachines" class="btn btn-warning btn-lg active font-weight-bold" role="button" aria-pressed="true">
            Raport jakościowy w rozbiciu na urządzenia liczące
        </a>
        <br />
        <a href="/qualitypageandmachines" class="btn btn-success btn-lg active font-weight-bold" role="button" aria-pressed="true">
            Raport powtórzonych wystąpień numerów seryjnych
        </a>
        <br />
        <a href="/repfilehist" class="btn btn-info btn-lg active font-weight-bold" role="button" aria-pressed="true">
            Testowy raport historii plików
        </a>
    </div>
@code {
    
}
